* {
    scrollbar-width: thin;
    scrollbar-color:  #8e08cc #070d12;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #070d12;
}

*::-webkit-scrollbar-thumb {
    background-color:  #8e08cc;
    border-radius: 30px;
    border: 4px solid #070d12;
}